{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "modules": true,
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": "webpack",
    "react": {
      "version": "latest"
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "typescript-sort-keys",
    "import",
    "react",
    "prettier"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "info"
        ]
      }
    ],
    "no-useless-constructor": "off",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-prototype-builtins": "off",
    "no-throw-literal": "off",
    "prefer-promise-reject-errors": "off",
    "no-unused-vars": "off",
    "max-lines": [
      "error",
      {
        "max": 500,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "max-params": [
      "error",
      {
        "max": 3
      }
    ],
    "curly": "error",
    "require-await": "warn",
    "prefer-arrow-callback": "error",
    "dot-notation": "error",
    "no-shadow": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "typescript-sort-keys/interface": "error",
    "typescript-sort-keys/string-enum": "error",
    "sort-class-members/sort-class-members": "off",
    "simple-import-sort/imports": "error",
    "import/order": "off",
    "import/no-default-export": "error",
    "import/no-anonymous-default-export": "error",
    "import/extensions": "off",
    "no-restricted-exports": ["error", { "restrictedNamedExports": ["default"] }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "block-like" },
      { "blankLine": "always", "prev": "*", "next": "export" },
      { "blankLine": "always", "prev": "block-like", "next": "*" },
      { "blankLine": "always", "prev": "function", "next": "*" },
      { "blankLine": "always", "prev": ["const", "let"], "next": "*" },
      { "blankLine": "never", "prev": ["const", "let"], "next": ["const", "let"] }
    ],
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "never",
        "children": "never"
      }
    ],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
