@import 'src/styles/variables/colors';

.forumSection {
  display: flex;
  width: 100%;
  padding: 10px 35px 12px;

  font-size: 16px;
  line-height: 20px;

  background-color: $color-basic-light;
  border-radius: 8px;

  &__name {
    flex-grow: 1;

    color: $color-basic;
  }

  &__meta {
    display: flex;
    gap: 10px;

    color: $color-primary;
  }
}
