.forumSection {
  display: flex;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--theme-color-accent);
  padding: 10px 35px 12px;

  &__name {
    color: var(--theme-color-white);
    flex-grow: 1;
  }

  &__meta {
    display: flex;
    gap: 10px;
    color: var(--theme-color-basic-light);
  }
}