@import '~styles/variables/colors.scss';

.button {
  display: block;
  width: 100%;
  padding: 14px 20px;

  color: $color-content;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  background: $color-primary;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  user-select: none;

  &:disabled {
    cursor: not-allowed;
  }
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.95;
  }
}

.button--light {
  color: $color-primary;

  background: $color-primary-light;
}

.button--warning {
  background: $color-secondary;
}

.button--warning-light {
  color: $color-secondary;

  background: $color-secondary-light;
}

.button--link {
  color: $color-primary;

  background: none;
}

.button--inline {
  display: inline-block;
  width: auto;
}

.button--grey {
  color: $color-basic;
  background-color: $color-basic-light;
}

.button--small {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
}
