@import '~styles/variables/colors.scss';

.menuList,
.menuListItem {
  margin: 0;
  padding: 0;
}

.menuList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.menuListItem {
  display: block;
}

.item {
  display: block;
  padding: 10px 20px;

  color: $color-basic;
  font-size: 16px;
  line-height: 20px;

  border-radius: 6px;

  transition: 0.2s ease-out background-color;

  &:global {
    &.active {
      background-color: $color-basic-light;
      cursor: default;
    }
  }
}
