@import "~styles/variables/colors.scss";

.menu {
  ul,
  li {
    padding: 0;
    margin: 0;
  }
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  li {
    display: block;
  }
}

.item {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  color: $color-basic;
  transition: 0.2s ease-out background-color;

  &:global {
    &.active {
      cursor: default;
      background-color: $color-basic-light;
    }
  }
}
