@import "~styles/variables/colors.scss";

.head {
  text-align: center;
  margin-bottom: 30px;
}

.body,
.nav {
  max-width: 350px;
}

.body {
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: block;
  padding: 0;
  margin: 20px auto 0 auto;
}

.navItem {
  display: block;
  margin: 5px 0;
  padding: 0;
}

.link {
  &:hover {
    color: $color-basic;
  }
}

.signOut {
  color: $color-secondary;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  line-height: 1;
  color: $color-basic-middle;
  border-bottom: 1px solid $color-basic-light;
}

.fieldLabel {
  color: $color-basic;
}
