@import '~styles/variables/colors.scss';

.head {
  margin-bottom: 30px;

  text-align: center;
}

.avatar {
  margin-bottom: 30px;
}

.body {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  display: block;
  margin-top: 20px;
  padding: 0;
}

.navItem {
  display: block;
  margin: 5px 0;
  padding: 0;
}

.link {
  font-size: 14px;
  line-height: 20px;
  &:hover {
    color: $color-basic;
  }
}

.signOut {
  color: $color-secondary;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  color: $color-basic-middle;
  font-size: 14px;
  line-height: 1;

  border-bottom: 1px solid $color-basic-light;
}

.fieldLabel {
  color: $color-basic;
}
