@import "./variables/fonts";
@import "./variables/colors";

body,
html {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-basic;
  background: $color-content;
}

small,
.small {
  color: inherit;
  font-size: 75%;
}

b,
strong {
  font-weight: $font-weight-medium;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-primary;
  text-decoration: none;
}

p {
  margin: 0.5em 0;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 1em;

  li {
    margin: 0 0 0.5em 0;
  }
}
