@import '~styles/variables/colors.scss';

.leaderboardsBlock {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;

  color: $color-basic;
  font-size: 16px;
  line-height: 20px;

  border: 1px solid $color-basic-middle;
  border-radius: 8px;

  &_ownBlock {
    color: $color-content;

    background-color: $color-primary;
    border: none;
  }

  &__icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    font-size: 20px;

    background-color: $color-basic-light;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-grow: 1;
  }

  &__login {
    margin-left: 20px;
  }

  &__place,
  &__time {
    width: 110px;

    text-align: center;
  }
}
