.header {
  padding: 40px 0;
  width: 100%;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  flex: 0 0 auto;
  width: 120px;
  margin-right: 30px;
}

.nav {
  flex: 1 0 auto;
}

.user {
  flex: 0 0 auto;
  max-width: 140px;
  margin-left: 30px;
}
