.header {
  padding: 40px 0;
}

.nav {
  ul {
    display: flex;
    padding: 0;
    margin: 0 -15px;
  }
  li {
    display: block;
    margin: 0;
    padding: 0 15px;
  }
}

.navItem {
  &:global {
    &.active::after {
    }
  }
}
