$color-content: var(--theme-color-content);

$color-basic: var(--theme-color-basic);
$color-basic: var(--theme-color-new);
$color-basic-middle: var(--theme-color-basic-middle);
$color-basic-light: var(--theme-color-basic-light);

$color-primary: var(--theme-color-primary);
$color-primary-middle: var(--theme-color-primary-middle);
$color-primary-light: var(--theme-color-primary-light);

$color-secondary: var(--theme-color-secondary);
$color-secondary-middle: var(--theme-color-secondary-middle);
$color-secondary-light: var(--theme-color-secondary-light);
