@import "src/styles/variables/colors";
@import "src/styles/variables/fonts";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.form {
  align-self: center;
  width: 300px;
  margin: auto;
}

.oauth {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.oauthTitle {
  color: $color-basic-middle;
  font-weight: $font-weight-medium;
  margin-right: 10px;
}

.oauthList {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 -10px;
}

.oauthListItem {
  display: block;
  padding: 0 10px;
  margin: 0;
}

.oauthItem {
  display: block;
  font-size: 20px;
  line-height: 0;
}
