@import "~styles/variables/layout.scss";

// we need to export variables from this to use them in js after import
:export {
  xs: map_get($layout-breakpoints, xs);
  sm: map_get($layout-breakpoints, sm);
  md: map_get($layout-breakpoints, md);
  lg: map_get($layout-breakpoints, lg);
  xl: map_get($layout-breakpoints, xl);
  xxl: map_get($layout-breakpoints, xxl);
}
