@import '~styles/variables/fonts';
@import '~styles/variables/colors';

.modalWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  background: rgba(#000, 0.4);

  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  &__body {
    width: 300px;
    padding: 20px;

    background-color: $color-content;
    border-radius: 10px;
  }

  &__title {
    margin-bottom: 20px;
  }
}
