@import '~styles/variables/fonts';
@import '~styles/variables/colors';

.modalWrapper {
  &__tomain {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__choosingHero {
    display: flex;
    gap: 20px;
  }
  &__changeHero {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
}
