@import '~styles/variables/colors.scss';
@import '~styles/variables/fonts.scss';

.label {
  display: block;
  margin: 0 0 20px;

  text-align: center;
}

.link {
  color: var(--theme-color-basic);
  font-size: 14px;
  text-decoration: underline;

  cursor: pointer;

  &:hover {
    color: var(--theme-color-primary);
  }
}

.image {
  display: block;
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
}

.input {
  display: none;
}

.value {
  display: block;
  margin: 20px 0;
  overflow: hidden;

  color: var(--theme-color-basic);
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  margin-top: 10px;
}
