.field {
  position: relative;
}

.input,
.label {
  font-size: 14px;
  line-height: 18px;
}

.label {
  display: block;
  position: absolute;
  left: 15px;
  top: 15px;
  color: var(--theme-color-basic-middle);
  pointer-events: none;
}

.error {
  color: var(--theme-color-warning);
  font-size: 10px;
  margin-top: 5px;
}

.input {
  display: block;
  width: 100%;
  padding: 14px;
  border: 1px solid var(--theme-color-basic-light);
  border-radius: 8px;
  color: var(--theme-color-basic);
  background: var(--theme-color-white);
  height: 48px;
  outline: none;

  &:focus {
    border-color: var(--theme-color-basic-middle);
  }
}

.labelActive {
  font-size: 12px;
  line-height: 1;
  top: 8px;
}

.inputActive {
  padding-top: 20px;
  padding-bottom: 8px;
}

.inputError {
  border-color: var(--theme-color-warning);
}

.required {
  color: var(--theme-color-warning);
}
